.main {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: 1400px;
//font-size:10px;
//color:grey;
}

.Square {
  display: flex;
  flex-flow: column wrap;
  width:200px;
  // height:200px;
  margin: 15px;
  justify-content:space-around;
  // background: #dedede50;
  border: 3px solid #dedede70;
  border-radius: 5px;
  padding: 0px 15px 15px 15px;
}

.Square:hover {
  border: 3px solid #13405550;
}

.Desc{
  flex-flow: column wrap;

}

.Label{
  width: 90%;
  margin: 20px auto;
}

.Name{
  font-size:15px;
}

.Params{
  font-size:14px;
  color:grey;
  font-style:italic;
}

.Price{
  font-size:16px;
  color:DeepSkyBlue;
  transition: all 0.3s;
  position: relative;
  width: 48px;
  margin: 10px 0px;
}

.Square:hover > div.Price{
  border: 2px solid DeepSkyBlue;
  padding: 4px 6px;
  cursor: pointer;
}


.Square:hover > div.Price:before{
  content: '+';
  font-weight: bold;
  background: DeepSkyBlue;
  font-size: 17px;
  padding: 5px 8px 6px 8px;
  color: white;
  display: block;
  position: absolute;
  left: 60px;
  top: -2px;
}

.OldPrice{
  font-size:15px;
  color: black;
  text-decoration: line-through !important;
  position: relative;
}

.Sale{
  color: white;
  font-size:15px;
  padding: 4px 6px;
  background: #4972ff;

}

.Prices{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
