.main {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: 1400px;
//font-size:10px;
//color:grey;
}

.Square {
  display: flex;
  flex-flow: column wrap;
  width:200px;
  // height:200px;
  margin: 15px;
  justify-content:space-around;
  // background: #dedede50;
  border: 3px solid #dedede70;
  border-radius: 5px;
  padding: 0px 15px 15px 15px;
}

.Square:hover {
  border: 3px solid #13405530;
}

.Desc{
  flex-flow: column wrap;

}

.Label{
  width: 90%;
  margin: 20px auto;
}

.Name{
  font-size:15px;
}

.Params{
  font-size:14px;
  color:grey;
  font-style:italic;
}

.Price{
  font-size:15px;
  color:DeepSkyBlue;
}

.Oldprice{
  font-size:15px;
  color:OrangeRed;
  text-decoration: line-through !important;
  position: relative;
}

.Sale{
  color:OrangeRed;
  font-size:15px;
  top:200px;
  left:45px;
  margin-left:5px;

}

.Prices{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
